@model List<ToDoListD.Models.task>


<table id="tasksTable">
    @foreach (var item in Model)
    {
        <tr>
            <td style="visibility: hidden">@item.id</td>
            @if (item.id == @ViewBag.id) {
                <td  class="td_taskText">
                   
                    <table id="editTable">
                        <tr>
                            <td>
                                @Html.TextBox("editTextBox", item.TaskText, new {style="padding-left: 5px" })
                            </td>
                            <td>
                                <input type="button" value="confirm" id="editButton_@item.id" onclick="editFunction(event);"/>
                            </td>
                        </tr>
                    </table>
                  
                </td>
            }else
            {
                <td  class="td_taskText" id="tr_@item.id" onmouseover="changeColor('#EEE','tr_@item.id');" onmouseout="changeColor('white','tr_@item.id');">@item.TaskText</td>
            }   
        <td><a href="~/Views/Home/addTask" class="deleteTaskLink" id="deleteTaskLink_@item.id"><img src="~/Content/images/delete.png" width="20px" height="20px"/></a></td>
        <td><a href="~/Views/Home/addTask" class="editTaskLink" id="editTaskLink_@item.id"><img src="~/Content/images/edit.png"   width="15px" height="15px"/></a></td>
        <td><a href="~/Views/Home/addTask" class="incPriorityLink" id="incPriorityLink_@item.id"><img src="~/Content/images/up.png"   width="15px" height="15px"/></a></td>
        <td><a href="~/Views/Home/addTask" class="decPriorityLink" id="decPriorityLink_@item.id"><img src="~/Content/images/down.png"   width="15px" height="15px"/></a></td>
                        
        </tr>
                        
    }
</table>

